section.body {
    background-color: #383737;
}
h1, h2{ text-align: center;}

div#movie{
    background-image: url("../assets/images/backmovie.jpg");
    padding-top: 20px;
    height: 188px;
    clear: both;
}
h1, h2 { color: black;
font-weight: bold;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
@media (max-width: 700px){
    h1, h2{
     font-size:30px;
     }   
    }
  @media (max-width: 400px){
     h1, h2{
     font-size:20px;
    }
   }
@media (max-width: 300px){
   div#movie{
    padding-top:10px;
 }
}