<ul>
    <li *ngFor="let movie of listMovies">
      <div class="col-md-4 col-lg-4 fila">
        <h3>
            <a [routerLink]="['/movie', movie.id]" routerLinkActive="active">{{movie.title}}</a>
        </h3>
        <img class="col-md-6 col-lg-6" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{movie.poster_path}}" alt="poster"/>
        <p>{{movie.overview}}</p>
        <span>{{release_date}}</span>
        <button type="button" class="btn btn-default pull-right">  
             ❤ {{movie.vote_average}} 
         </button>
    </div>
   </li>
</ul>
