<ul>
    <li *ngFor="let movie of listMovies">
      <section class="col-md-5 col-lg-5 movie">
        <h3>{{movie.title}}</h3>
        <img class="col-md-6 col-lg-6" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{movie.poster_path}}" alt="poster"/>
        <p>{{movie.overview}}</p>
        <span>{{release_date}}</span>
        <button type="button" class="btn btn-default col-md-offset-1 col-lg-offset-1">
        <span class="glyphicon glyphicon-star" aria-hidden="false"></span>
        <span>{{movie.vote_average}}</span>
        </button>
    </section>
   </li>
</ul>