<div class="col-md-12 col-lg-12">
    <div class="col-md-offset-1 col-lg-offset-1 col-md-2 col-lg-2">
        <img src="assets/images/logothemoviedb.png" alt="logo">
    </div>
	<div class="mapa col-xs-12 col-sm-2 col-md-2 col-lg 2">
        <a href="#">Básico</a>
        <ul>
            <li><a href="#">Acerca de TBDb</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Foros de Soporte</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
	</div>
	<div class="mapa col-xs-12 col-sm-2 col-md-2 col-lg 2">
		<a href="#">Participa</a>
		<ul>
			<li><a href="#">Aplicaciones de terceros</a></li>
			<li><a href="#">Añadir nueva película</a></li>
			<li><a href="#">Añadir nueva serie</a></li>
		</ul>
	</div>
	<div class="mapa col-xs-12 col-sm-2 col-md-2 col-lg 2">
        <a href="#">Comunidad</a>
        <ul>
            <li><a href="#">Guidelines</a></li>
            <li><a href="#">Clasificación</a></li>
            <li><a href="#">Foros</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Google+</a></li>
        </ul>
    </div>
	<div class="mapa col-xs-12 col-sm-2 col-md-2 col-lg 2">
        <a href="#">Legal</a>
        <ul>
            <li><a href="#">Términos de Uso</a></li>
            <li><a href="#">Política de Privacidad</a></li>
        </ul>
    </div>
</div>