/* You can add global styles to this file, and also import other style files */
.panel-footer {
    background-image: url("assets/images/Alien.jpg");
    clear: both;
    margin-top: 10px;
    /*background-color: #383737 !important;*/
 }

app-header { background: black;}

